
chunky/
crash_assistant/
spark/
inline/
jade/
jamlib/
jei/
konkrete/
ok_zoomer/

*-client.toml
!computercraft-client.toml
!sodiumdynamiclights-client.toml
!supplementaries-client.toml
!upgrade_aquatic-client.toml
!valkyrienskies/clockwork/client.toml
!valkyrienskies/valkyrienskies-client.toml
!visualworkbench-client.toml
!vsch-client.toml

chat_heads.json5
clientsort.json
kiwi-client.yaml
MouseTweaks.cfg
particle_effects.json5
renderscale.json5
oculus.properties
packetfixer.properties
xaerominimap_entities.json
fabric/indigo-renderer.properties

