
crash_assistant/
spark/
inline/
jade/
jamlib/
jei/
konkrete/
ok_zoomer/
chat_heads.json5
clientsort.json

*-client.toml
!computercraft-client.toml
!upgrade_aquatic-client.toml
!sodiumdynamiclights-client.toml

kiwi-client.yaml
MouseTweaks.cfg
particle_effects.json5
renderscale.json5
oculus.properties
packetfixer.properties
xaerominimap_entities.json
fabric/indigo-renderer.properties

