name: Deploy modpack
on:
  push:
    branches: [main] # todo: change to tag publishing
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch repository
        uses: actions/checkout@v4
      - name: Install dependencies
        shell: bash
        run: |
          curl -sSLo packwiz.zip https://nightly.link/packwiz/packwiz/workflows/go/main/Linux%2064-bit%20x86.zip && \
            unzip packwiz.zip && \
            chmod +x packwiz && \
            sudo mv packwiz /usr/local/bin/ && \
            rm packwiz.zip
      - name: Remove ignored files
        shell: bash
        run: while read -r entry;do rm -rf ${entry}; done < .packwizignore
      - name: Refresh index
        run: packwiz refresh --build
      - name: Upload pages
        uses: actions/upload-pages-artifact@v3
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Publishing pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages

